a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
  text-align: center;
}

.App {
  min-height: 100vh;
  background: url("assets/background.jpg");
  background-size: cover;
}

.App-header {
  color: white;
  font-size: 3em;
  font-family: Arial;
  font-style: italic;
  margin-left: 35px;
}

.App-main {
  display: flex;
  border: solid #d82f2f 10px;
  border-radius: 15px;
  padding: 15px;
  justify-content: space-around;
  margin: 0px 30px 0 30px;
}

.TournamentList {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.TournamentListItem {
  border: none;
  margin-bottom: 10px;
  position: relative;
  padding: 0.5em;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid orange;
  cursor: pointer;
  color: white;
  background: linear-gradient(to left, transparent 50%, orange 50%);
  background-size: 201%;
  background-position: right;
  transition: background-position 0.5s ease-in-out;
}

.active {
  background-position: left;
}

.PlayerList {
  color: aliceblue;
  background-color: #571f1d;
  padding: 8px;
  border: solid red 1px;
  width: 150px;
}

.PlayerListItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.Tooltip {
  color: white;
  border: none;
}

.CharacterChart {
  width: 50%;
}

